mujoco
mjlab
models
*.log
.DS_Store
.env
.env.*
.cache/
.venv/
**/.venv/
!public/models/
/public/models/*
!/public/models/g1_velocity_flat_latest.onnx
!/public/models/g1_velocity_rough_latest.onnx
!/public/models/go1_velocity_flat_latest.onnx
!/public/models/go1_velocity_rough_latest.onnx
onnx_exports/
node_modules
dist
mjlab_examples
.vscode
src/generated/
public/render_assets/
public/envs/*/assets/
public/envs/*/scene_optimized.xml
public/envs/*/render-manifest.json

public/envs/*/splats/*
!public/envs/*/splats/cardinal/
!public/envs/*/splats/cardinal/**
!public/envs/go1_gaussian/splats/garden/
public/envs/go1_gaussian/splats/garden/*
!public/envs/go1_gaussian/splats/garden/transform.json
